.promocion-especial
	&__box
		text-aligin center
		max-width 900px
		margin 0 auto
		margin-bottom 2em
	&__contenido
		width 100%
		.contenido__title
			background purple
			width 100%
			h2
				text-align center
		.contenido__promo
			background orange
			width 100%
			margin 0 auto
			.promo__smile
				display inline-block
				width 20%
				background red
				img
					width 50px
			.promo__letra
				display inline-block
				width 70%
				background olive
		
			